.notes_dashboard{
    position: relative;
    box-sizing: border-box;
    width: 66%;
    height: 360px;

    background-color: var(--black-light);
    border-radius: 10px;

    color: whitesmoke;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.notes_container{
    box-sizing: border-box;
    align-items: center;
    overflow: auto;
    width: 100%;
    display: flex;
    gap: 10px;
    flex: 1;
    padding: 0 20px 0 20px;
}

.empty_notes_container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 900;
    opacity: 0.2;
}

.notes_container::-webkit-scrollbar {
    width: 12px; 
}

.notes_container::-webkit-scrollbar-thumb {
    background-color: var(--green); 
    border-radius: 6px; 
}

.notes_container::-webkit-scrollbar-track {
    background-color: var(--dark-light); 
}

@media (max-width:1000px) {
    .notes_dashboard{
        width: 100%;
    }
}